/* ------- borderFade 填充 ------- */
/* #region  */
.borderFade {
    box-sizing: border-box;
    border: 3px solid transparent;

    transition: border-color .3s;
}

.borderFade:hover {
    border-color: #409EFF;
}

/* #endregion */
/* ------- end  ------- */

/* ------- hollow 空心 ------- */
/* #region  */
.hollow {
    position: relative;
    box-sizing: border-box;
    perspective: 1px;

}

.hollow::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 6px);
    height: calc(100% - 6px);

    z-index: -1;

    transition: background-color .3s;
}

.hollow:hover::after {
    background-color: #ffffff;
}

/* #endregion */
/* ------- end  ------- */

/* ------- trim 镂空 ------- */
/* #region  */
.trim {
    position: relative;
    box-sizing: border-box;
    perspective: 1px;

}

.trim::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 12px);
    height: calc(100% - 12px);

    border: 3px solid transparent;

    z-index: -1;

    transition: border-color .3s;
}

.trim:hover::after {
    border-color: #ffffff;
}

/* #endregion */
/* ------- end  ------- */

/* ------- rippleOut 涟漪-散开 ------- */
/* #region  */
.rippleOut {
    position: relative;
    box-sizing: border-box;

    outline: 3px solid;
    outline-offset: 0;
    outline-color: transparent;
}

.rippleOut:hover {
    animation: rippleOut .75s;
}

@keyframes rippleOut {
    from {
        outline-color: #ebeef5;
    }

    to {
        outline-color: transparent;
        outline-offset: 5px;
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- rippleIn 涟漪-聚拢 ------- */
/* #region  */
.rippleIn {
    position: relative;
    box-sizing: border-box;

    outline: 5px solid;
    outline-color: transparent;
}

.rippleIn:hover {
    animation: rippleIn 1s;
}

@keyframes rippleIn {
    from {
        outline-color: transparent;
        outline-offset: 15px;
    }

    to {
        outline-color: #ebeef5;
        outline-offset: -5px;
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- outlineOut 轮廓-展开 ------- */
/* #region  */
.outlineOut {
    position: relative;
    box-sizing: border-box;

    outline: 5px solid #ebeef5;
    outline-offset: 0;

    transition: outline-offset .5s;
}

.outlineOut:hover {
    outline-offset: 10px;
}

/* #endregion */
/* ------- end  ------- */

/* ------- outlineIn 轮廓-聚拢 ------- */
/* #region  */
.outlineIn {
    position: relative;
    box-sizing: border-box;

    outline: 5px solid transparent;
}

.outlineIn:hover {
    animation: outlineIn .5s forwards;
}

@keyframes outlineIn {
    0% {
        outline-offset: 15px;
    }

    100% {
        outline-color: #ebeef5;
        outline-offset: 10px;
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- roundCorners 圆角 ------- */
/* #region  */
.roundCorners {
    position: relative;
    box-sizing: border-box;

    transition: border-radius .3s;
}

.roundCorners:hover {
    border-radius: 8px;
}

/* #endregion */
/* ------- end  ------- */

/* ------- underlineFromLeft 下划线-从左到右 ------- */
/* #region  */
.underlineFromLeft {
    position: relative;
    box-sizing: border-box;
}

.underlineFromLeft::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.underlineFromLeft:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */

/* ------- underlineFromCenter 下划线-从中间展开 ------- */
/* #region  */
.underlineFromCenter {
    position: relative;
    box-sizing: border-box;
}

.underlineFromCenter::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.underlineFromCenter:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */

/* ------- underlineFromRight 下划线-从右到左 ------- */
/* #region  */
.underlineFromRight {
    position: relative;
    box-sizing: border-box;
}

.underlineFromRight::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.underlineFromRight:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */

/* ------- borderFillIn 边框-内部填充 ------- */
/* #region  */
.borderFillIn {
    position: relative;
    box-sizing: border-box;

    transition: box-shadow .3s;
}

.borderFillIn:hover {
    box-shadow: inset 0 0 0 5px #409EFF;
}

/* #endregion */
/* ------- end  ------- */

/* ------- borderFillIn 边框-内部填充 ------- */
/* #region  */
.borderFillIn {
    position: relative;
    box-sizing: border-box;

    transition: box-shadow .3s;
}

.borderFillIn:hover {
    box-shadow: inset 0 0 0 5px #409EFF;
}

/* #endregion */
/* ------- end  ------- */

/* ------- underlineFillIn 下划线-底部出现 ------- */
/* #region  */
.underlineFillIn {
    position: relative;
    box-sizing: border-box;
}

.underlineFillIn::after {
    content: '';
    display: block;
    position: absolute;

    bottom: 0;
    left: 0;

    height: 5px;
    width: 100%;

    background-color: #409EFF;

    transform: translateY(5px);

    transition: transform .3s;
}

.underlineFillIn:hover::after {
    transform: translateY(0);
}

/* #endregion */
/* ------- end  ------- */

/* ------- overlineFillIn 上划线-顶部出现 ------- */
/* #region  */
.overlineFillIn {
    position: relative;
    box-sizing: border-box;
}

.overlineFillIn::after {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    height: 5px;
    width: 100%;

    background-color: #409EFF;

    transform: translateY(-6px);

    transition: transform .3s;
}

.overlineFillIn:hover::after {
    transform: translateY(0);
}

/* #endregion */
/* ------- end  ------- */

/* ------- overlineFromLeft 上划线-从左到右 ------- */
/* #region  */
.overlineFromLeft {
    position: relative;
    box-sizing: border-box;
}

.overlineFromLeft::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.overlineFromLeft:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */

/* ------- overlineFromCenter 上划线-从中间展开 ------- */
/* #region  */
.overlineFromCenter {
    position: relative;
    box-sizing: border-box;
}

.overlineFromCenter::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-50%);

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.overlineFromCenter:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */

/* ------- overlineFromRight 上划线-从右到左 ------- */
/* #region  */
.overlineFromRight {
    position: relative;
    box-sizing: border-box;
}

.overlineFromRight::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    height: 5px;
    width: 0;
    background-color: #409EFF;

    transition: width .3s;
}

.overlineFromRight:hover::after {
    width: 100%;
}

/* #endregion */
/* ------- end  ------- */