/* ------- fadeIn 淡入 ------- */
/* #region  */
.fadeIn {
    animation: fadeIn .75s;
}

@keyframes fadeIn {
    from {
        filter: opacity(0);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInDown 淡入-从上进入 ------- */
/* #region  */
.fadeInDown {
    animation: fadeInDown .75s;
}

@keyframes fadeInDown {
    from {
        filter: opacity(0);
        transform: translateY(-50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInLeft 淡入-从左进入 ------- */
/* #region  */
.fadeInLeft {
    animation: fadeInLeft .75s;
}

@keyframes fadeInLeft {
    from {
        filter: opacity(0);
        transform: translateX(-50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInRight 淡入-从右进入 ------- */
/* #region  */
.fadeInRight {
    animation: fadeInRight .75s;
}

@keyframes fadeInRight {
    from {
        filter: opacity(0);
        transform: translateX(50%);
    }

    to {
        filter: opacity(1);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInUp 淡入-从下进入 ------- */
/* #region  */
.fadeInUp {
    animation: fadeInUp .75s;
}

@keyframes fadeInUp {
    from {
        filter: opacity(0);
        transform: translateY(50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInTopLeft 淡入-从左上进入 ------- */
/* #region  */
.fadeInTopLeft {
    animation: fadeInTopLeft .75s;
}

@keyframes fadeInTopLeft {
    from {
        filter: opacity(0);
        transform: translate(-50%, -50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInTopRight 淡入-从右上进入 ------- */
/* #region  */
.fadeInTopRight {
    animation: fadeInTopRight .75s;
}

@keyframes fadeInTopRight {
    from {
        filter: opacity(0);
        transform: translate(50%, -50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInBottomLeft 淡入-从左下进入 ------- */
/* #region  */
.fadeInBottomLeft {
    animation: fadeInBottomLeft .75s;
}

@keyframes fadeInBottomLeft {
    from {
        filter: opacity(0);
        transform: translate(-50%, 50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeInBottomRight 淡入-从右下进入 ------- */
/* #region  */
.fadeInBottomRight {
    animation: fadeInBottomRight .75s;
}

@keyframes fadeInBottomRight {
    from {
        filter: opacity(0);
        transform: translate(50%, 50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOut 淡出 ------- */
/* #region  */
.fadeOut {
    animation: fadeOut .75s reverse ease-out;
}

@keyframes fadeOut {
    from {
        filter: opacity(0);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutDown 淡出-向下退出 ------- */
/* #region  */
.fadeOutDown {
    animation: fadeOutDown .75s reverse;
}

@keyframes fadeOutDown {
    from {
        filter: opacity(0);
        transform: translateY(50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutLeft 淡出-向左退出 ------- */
/* #region  */
.fadeOutLeft {
    animation: fadeOutLeft .75s reverse ease-out;
}

@keyframes fadeOutLeft {
    from {
        filter: opacity(0);
        transform: translateX(-50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutRight 淡出-向左退出 ------- */
/* #region  */
.fadeOutRight {
    animation: fadeOutRight .75s reverse ease-out;
}

@keyframes fadeOutRight {
    from {
        filter: opacity(0);
        transform: translateX(50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutUp 淡出-向上退出 ------- */
/* #region  */
.fadeOutUp {
    animation: fadeOutUp .75s reverse;
}

@keyframes fadeOutUp {
    from {
        filter: opacity(0);
        transform: translateY(-50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutTopLeft 淡出-向左上退出 ------- */
/* #region  */
.fadeOutTopLeft {
    animation: fadeOutTopLeft .75s reverse;
}

@keyframes fadeOutTopLeft {
    from {
        filter: opacity(0);
        transform: translate(-50%, -50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutTopRight 淡出-从右上进入 ------- */
/* #region  */
.fadeOutTopRight {
    animation: fadeOutTopRight .75s reverse;
}

@keyframes fadeOutTopRight {
    from {
        filter: opacity(0);
        transform: translate(50%, -50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutBottomLeft 淡出-向左下退出 ------- */
/* #region  */
.fadeOutBottomLeft {
    animation: fadeOutBottomLeft .75s reverse;
}

@keyframes fadeOutBottomLeft {
    from {
        filter: opacity(0);
        transform: translate(-50%, 50%);
    }
}

/* #endregion */
/* ------- end  ------- */

/* ------- fadeOutBottomRight 淡出-向右下退出 ------- */
/* #region  */
.fadeOutBottomRight {
    animation: fadeOutBottomRight .75s reverse;
}

@keyframes fadeOutBottomRight {
    from {
        filter: opacity(0);
        transform: translate(50%, 50%);
    }
}

/* #endregion */
/* ------- end  ------- */