ea-container {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sg-card {
        max-width: calc(33% - 2rem) !important;
        flex: 1 0 calc(33% - 2rem) !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .sg-card {
        max-width: calc(50% - 2rem) !important;
        flex: 1 0 calc(50% - 2rem) !important;
    }
}

@media screen and (max-width: 480px) {
    .sg-card {
        max-width: calc(100% - 2rem) !important;
        flex: 1 0 calc(100% - 2rem) !important;
    }
}